#if defined (MINGW32)
#define _WIN32_IE 0x0300
#endif
#include <winuser.h>
#include <afxres.h>
#include <commctrl.h>
#include <richedit.h>
#include "resources.h"
#if defined (SDL)
#include "../../../version.h"
#elif defined (D3D9)
#include "../version.h"
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

IDI_MYICON        ICON   "punes.ico"
IDB_ABOUT         BITMAP "about.bmp"
IDB_NES_STD_PAD   BITMAP "pad.bmp"

IDR_ACCKEYS ACCELERATORS
BEGIN
	"O",        IDM_FILE_OPEN,           CONTROL, VIRTKEY
	VK_F4,      IDM_FILE_EXIT,           ALT,     VIRTKEY
	VK_F11,     IDM_NES_HARD,            VIRTKEY
	VK_F12,     IDM_NES_SOFT,            VIRTKEY
	"S",        IDM_NES_FDS_DISK_SWITCH, ALT,     VIRTKEY
	"E",        IDM_NES_FDS_EJECT,       ALT,     VIRTKEY
	VK_F1,      IDM_SET_SAVE_SAVE,       VIRTKEY
	VK_F4,      IDM_SET_SAVE_LOAD,       VIRTKEY
	VK_F3,      IDM_SET_SAVE_INC,        VIRTKEY
	VK_F2,      IDM_SET_SAVE_DEC,        VIRTKEY
	VK_F6,      IDM_SET_MODE_PAL,        VIRTKEY
	VK_F7,      IDM_SET_MODE_NTSC,       VIRTKEY
	VK_F8,      IDM_SET_MODE_DENDY,      VIRTKEY
	VK_F9,      IDM_SET_MODE_AUTO,       VIRTKEY
	"1",        IDM_SET_SIZE_1X,         VIRTKEY
	"2",        IDM_SET_SIZE_2X,         VIRTKEY
	"3",        IDM_SET_SIZE_3X,         VIRTKEY
	"4",        IDM_SET_SIZE_4X,         VIRTKEY
	VK_RETURN,  IDM_SET_FULLSCREEN,      ALT,     VIRTKEY
#if defined (SDL)
	"R",        IDM_SET_EFFECT_CUBE,     VIRTKEY
#endif
	"0",        IDM_SET_INTERPOLATION,   VIRTKEY
	"P",        IDM_SET_STRETCHFLSCR,    VIRTKEY
	"W",        IDM_SET_SAVENOW,         CONTROL, VIRTKEY
	"A",        IDM_SET_AUDIO_ENABLE,    CONTROL, VIRTKEY
END

IDR_MAINMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Open\tCtrl+O",                 IDM_FILE_OPEN
		MENUITEM "Recent Roms",                   IDM_FILE_RECENT
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4",                 IDM_FILE_EXIT
	END
	POPUP "&NES"
	BEGIN
		MENUITEM "&Hard Reset\tF11",              IDM_NES_HARD
		MENUITEM "&Soft Reset\tF12",              IDM_NES_SOFT
		MENUITEM SEPARATOR
		POPUP "&Disk side"
		BEGIN
			MENUITEM "Disk 1 side A",             IDM_NES_FDS_DISK_SIDE0
			MENUITEM "Disk 1 side B",             IDM_NES_FDS_DISK_SIDE1
			MENUITEM "Disk 2 side A",             IDM_NES_FDS_DISK_SIDE2
			MENUITEM "Disk 2 side B",             IDM_NES_FDS_DISK_SIDE3
			MENUITEM "Disk 3 side A",             IDM_NES_FDS_DISK_SIDE4
			MENUITEM "Disk 3 side B",             IDM_NES_FDS_DISK_SIDE5
			MENUITEM "Disk 4 side A",             IDM_NES_FDS_DISK_SIDE6
			MENUITEM "Disk 4 side B",             IDM_NES_FDS_DISK_SIDE7
			MENUITEM SEPARATOR
			MENUITEM "&Switch side\tALT+S",       IDM_NES_FDS_DISK_SWITCH
		END
		MENUITEM "Ej&ect/Insert disk\tALT+E",     IDM_NES_FDS_EJECT
	END
	POPUP "Sett&ings"
	BEGIN
		POPUP "&Mode"
		BEGIN
			MENUITEM "&PAL\tF6",                  IDM_SET_MODE_PAL
			MENUITEM "&NTSC\tF7",                 IDM_SET_MODE_NTSC
			MENUITEM "&Dendy\tF8",                IDM_SET_MODE_DENDY
			MENUITEM "&Auto\tF9",                 IDM_SET_MODE_AUTO
		END
		MENUITEM SEPARATOR
		POPUP "&Video"
		BEGIN
			POPUP "&Rendering"
			BEGIN
#if defined (SDL)
				MENUITEM "&Software",             IDM_SET_RENDERING_SOFTWARE
				MENUITEM "&OpenGL",               IDM_SET_RENDERING_OPENGL
				MENUITEM "OpenGL &GLSL",          IDM_SET_RENDERING_GLSL
#elif defined (D3D9)
				MENUITEM "&Software",             IDM_SET_RENDERING_SOFTWARE
				MENUITEM "D3D &HLSL",             IDM_SET_RENDERING_HLSL
#endif
			END
			POPUP "&FPS"
			BEGIN
				MENUITEM "Default",               IDM_SET_FPS_DEFAULT
				MENUITEM SEPARATOR
				MENUITEM "60",                    IDM_SET_FPS_60
				MENUITEM "59",                    IDM_SET_FPS_59
				MENUITEM "58",                    IDM_SET_FPS_58
				MENUITEM "57",                    IDM_SET_FPS_57
				MENUITEM "56",                    IDM_SET_FPS_56
				MENUITEM "55",                    IDM_SET_FPS_55
				MENUITEM "54",                    IDM_SET_FPS_54
				MENUITEM "53",                    IDM_SET_FPS_53
				MENUITEM "52",                    IDM_SET_FPS_52
				MENUITEM "51",                    IDM_SET_FPS_51
				MENUITEM "49",                    IDM_SET_FPS_49
				MENUITEM "48",                    IDM_SET_FPS_48
				MENUITEM "47",                    IDM_SET_FPS_47
				MENUITEM "46",                    IDM_SET_FPS_46
				MENUITEM "45",                    IDM_SET_FPS_45
				MENUITEM "44",                    IDM_SET_FPS_44
			END
			POPUP "Fra&me skip"
			BEGIN
				MENUITEM "Default",               IDM_SET_FSK_DEFAULT
				MENUITEM SEPARATOR
				MENUITEM "1",                     IDM_SET_FSK_1
				MENUITEM "2",                     IDM_SET_FSK_2
				MENUITEM "3",                     IDM_SET_FSK_3
				MENUITEM "4",                     IDM_SET_FSK_4
				MENUITEM "5",                     IDM_SET_FSK_5
				MENUITEM "6",                     IDM_SET_FSK_6
				MENUITEM "7",                     IDM_SET_FSK_7
				MENUITEM "8",                     IDM_SET_FSK_8
				MENUITEM "9",                     IDM_SET_FSK_9
			END
			MENUITEM SEPARATOR
			POPUP "&Size"
			BEGIN
				MENUITEM "&1x\t1",                IDM_SET_SIZE_1X
				MENUITEM "&2x\t2",                IDM_SET_SIZE_2X
				MENUITEM "&3x\t3",                IDM_SET_SIZE_3X
				MENUITEM "&4x\t4",                IDM_SET_SIZE_4X
			END
			POPUP "&Pixel Aspect Ra&tio"
			BEGIN
				MENUITEM "&1:1",                  IDM_SET_PAR11
				MENUITEM "&5:4",                  IDM_SET_PAR54
				MENUITEM "&8:7 (NTSC TV)",        IDM_SET_PAR87
				MENUITEM SEPARATOR
#if defined (SDL)
				MENUITEM "GLSL &soft Stretch",    IDM_SET_PAR_SOFT
#elif defined (D3D9)
				MENUITEM "HLSL &soft Stretch",    IDM_SET_PAR_SOFT
#endif
			END
			POPUP "&Overscan"
			BEGIN
				MENUITEM "&Default",              IDM_SET_OSCAN_DEF
				MENUITEM SEPARATOR
				MENUITEM "&On",                   IDM_SET_OSCAN_ON
				MENUITEM "O&ff",                  IDM_SET_OSCAN_OFF
				MENUITEM SEPARATOR
				POPUP "De&fault value"
				BEGIN
					MENUITEM "&On",               IDM_SET_OSCAN_DEFAULT_ON
					MENUITEM "O&ff",              IDM_SET_OSCAN_DEFAULT_OFF
				END
				MENUITEM SEPARATOR
				MENUITEM "&Borders Size",         IDM_SET_OSCAN_BRDS
			END
			POPUP "Fi&lter"
			BEGIN
				MENUITEM "&No Filter",            IDM_SET_FILTER_NO_FILTER
				MENUITEM "&Phoshpor",             IDM_SET_FILTER_PHOSPHOR
				MENUITEM "P&hoshpor2",            IDM_SET_FILTER_PHOSPHOR2
				MENUITEM "S&canline",             IDM_SET_FILTER_SCANLINE
				MENUITEM "&DBL",                  IDM_SET_FILTER_DBL
				MENUITEM "Dark R&oom",            IDM_SET_FILTER_DARKROOM
				POPUP "C&RT"
				BEGIN
					MENUITEM "With &Curve",       IDM_SET_FILTER_CRTCURVE
					MENUITEM "&Without Curve",    IDM_SET_FILTER_CRTNOCURVE
				END
				POPUP "&Scalex"
				BEGIN
					MENUITEM "Scale&2X",          IDM_SET_FILTER_SCALE2X
					MENUITEM "Scale&3X",          IDM_SET_FILTER_SCALE3X
					MENUITEM "Scale&4X",          IDM_SET_FILTER_SCALE4X
				END
				POPUP "&Hqx"
				BEGIN
					MENUITEM "Hq&2x",             IDM_SET_FILTER_HQ2X
					MENUITEM "Hq&3x",             IDM_SET_FILTER_HQ3X
					MENUITEM "Hq&4x",             IDM_SET_FILTER_HQ4X
				END
				POPUP "N&TSC"
				BEGIN
					MENUITEM "&Composite",        IDM_SET_FILTER_RGBNTSCCOM
					MENUITEM "&S-Video",          IDM_SET_FILTER_RGBNTSCSVD
					MENUITEM "&RGB",              IDM_SET_FILTER_RGBNTSCRGB
				END
			END
			POPUP "&Palette"
			BEGIN
				MENUITEM "&PAL",                  IDM_SET_PALETTE_PAL
				MENUITEM "&NTSC",                 IDM_SET_PALETTE_NTSC
				MENUITEM "&Sony CXA2025AS US",    IDM_SET_PALETTE_SONY
				MENUITEM "&Monochrome",           IDM_SET_PALETTE_MONO
				MENUITEM "&Green",                IDM_SET_PALETTE_GREEN
			END
#if defined (SDL)
			POPUP "&Effect"
			BEGIN
				MENUITEM "&Cube\tR",              IDM_SET_EFFECT_CUBE
			END
#endif
			MENUITEM SEPARATOR
			MENUITEM "&Vsync",                    IDM_SET_VSYNC
			MENUITEM "Interpolation\t0",          IDM_SET_INTERPOLATION
			MENUITEM "Te&xt on screen",           IDM_SET_TXT_ON_SCREEN
			MENUITEM SEPARATOR
			MENUITEM "F&ullscreen\tAlt+Enter",    IDM_SET_FULLSCREEN
			MENUITEM "S&tretch in fullscreen\tP", IDM_SET_STRETCHFLSCR
		END
		POPUP "&Audio"
		BEGIN
			POPUP "&Sample rate"
			BEGIN
				MENUITEM "&44100",                IDM_SET_SAMPLERATE_44100
				MENUITEM "&22050",                IDM_SET_SAMPLERATE_22050
				MENUITEM "&11025",                IDM_SET_SAMPLERATE_11025
			END
			POPUP "&Channels"
			BEGIN
				MENUITEM "&Mono",                 IDM_SET_CHANNELS_MONO
				MENUITEM "&Stereo",               IDM_SET_CHANNELS_STEREO
				MENUITEM SEPARATOR
				POPUP "Stereo &delay"
				BEGIN
					MENUITEM "5%",                IDM_SET_STEREO_DELAY_5
					MENUITEM "10%",               IDM_SET_STEREO_DELAY_10
					MENUITEM "15%",               IDM_SET_STEREO_DELAY_15
					MENUITEM "20%",               IDM_SET_STEREO_DELAY_20
					MENUITEM "25%",               IDM_SET_STEREO_DELAY_25
					MENUITEM "30% (Default)",     IDM_SET_STEREO_DELAY_30
					MENUITEM "35%",               IDM_SET_STEREO_DELAY_35
					MENUITEM "40%",               IDM_SET_STEREO_DELAY_40
					MENUITEM "45%",               IDM_SET_STEREO_DELAY_45
					MENUITEM "50%",               IDM_SET_STEREO_DELAY_50
					MENUITEM "55%",               IDM_SET_STEREO_DELAY_55
					MENUITEM "60%",               IDM_SET_STEREO_DELAY_60
					MENUITEM "65%",               IDM_SET_STEREO_DELAY_65
					MENUITEM "70%",               IDM_SET_STEREO_DELAY_70
					MENUITEM "75%",               IDM_SET_STEREO_DELAY_75
					MENUITEM "80%",               IDM_SET_STEREO_DELAY_80
					MENUITEM "85%",               IDM_SET_STEREO_DELAY_85
					MENUITEM "90%",               IDM_SET_STEREO_DELAY_90
					MENUITEM "95%",               IDM_SET_STEREO_DELAY_95
					MENUITEM "100%",              IDM_SET_STEREO_DELAY_100
				END
			END
			POPUP "&Quality"
			BEGIN
				MENUITEM "&Low",                  IDM_SET_AUDIO_QUALITY_LOW
				MENUITEM "&High",                 IDM_SET_AUDIO_QUALITY_HIGH
			END
			MENUITEM "&APU Channels",             IDM_SET_AUDIO_APU_CHANNELS
			MENUITEM SEPARATOR
			MENUITEM "S&wap Duty Cycles",         IDM_SET_AUDIO_SWAP_DUTY
			MENUITEM "&Enable\tCtrl+A",           IDM_SET_AUDIO_ENABLE
		END
		POPUP "&Input"
		BEGIN
			MENUITEM "&Config",                   IDM_SET_INPUT_CONFIG
		END
		MENUITEM SEPARATOR
		MENUITEM "&In pause when lost focus",     IDM_SET_LOST_FOCUS_PAUSE
		MENUITEM "Game Genie",                    IDM_SET_GAMEGENIE
		MENUITEM SEPARATOR
		MENUITEM "Save se&ttings\tCtrl+W",        IDM_SET_SAVENOW
		MENUITEM "Save settings on e&xit",        IDM_SET_SAVEONEXIT
	END
	POPUP "S&tate"
	BEGIN
		MENUITEM "&Save state\tF1",               IDM_SET_SAVE_SAVE
		MENUITEM "&Load state\tF4",               IDM_SET_SAVE_LOAD
		MENUITEM SEPARATOR
		MENUITEM "&Inc state\tF3",                IDM_SET_SAVE_INC
		MENUITEM "&Dec state\tF2",                IDM_SET_SAVE_DEC
		MENUITEM SEPARATOR
		MENUITEM "Slot &0",                       IDM_SET_SAVE_0
		MENUITEM "Slot &1",                       IDM_SET_SAVE_1
		MENUITEM "Slot &2",                       IDM_SET_SAVE_2
		MENUITEM "Slot &3",                       IDM_SET_SAVE_3
		MENUITEM "Slot &4",                       IDM_SET_SAVE_4
		MENUITEM "Slot &5",                       IDM_SET_SAVE_5
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About",                        IDM_HELP_ABOUT
	END
END

//
// About dialog
//
IDD_ABOUT DIALOGEX 0, 0, 149, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION NAME " " VERSION
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "&OK", IDOK, 50, 110, 50, 14
	GROUPBOX        "Dedicated to someone", IDC_STATIC, 7, 7, 135, 124
	CTEXT           COMMENT "\r\n\r\nby " AUTHOR, IDC_STATIC, 16, 65, 118, 40
END

//
// About portable dialog
//
IDD_ABOUT_PORTABLE DIALOGEX 0, 0, 149, 140
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION NAME " Portable " VERSION
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON   "&OK", IDOK, 50, 110, 50, 14
	GROUPBOX        "Dedicated to someone", IDC_STATIC, 7, 7, 135, 124
	CTEXT           COMMENT "\r\n\r\nby " AUTHOR, IDC_STATIC, 16, 65, 118, 40
END

//
// APU channels dialog
//
/*
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_APU_CHANNELS DIALOG 0, 0, 176, 199
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "APU Configurations"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", ID_APU_CHANNELS_OK, 67, 176, 50, 14
    PUSHBUTTON      "Cancel", ID_APU_CHANNELS_CANCEL, 119, 176, 50, 14
    GROUPBOX        "APU Channels", IDC_STATIC, 7, 7, 159, 164
    LTEXT           "Active", IDC_STATIC, 41, 18, 21, 8, SS_LEFT
    LTEXT           "Volume", IDC_STATIC, 105, 18, 24, 8, SS_LEFT
    AUTOCHECKBOX    "Square1", IDC_APU_CHANNELS_SQUARE1_CHECKBOX, 13, 48, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_MASTER_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 27, 98, 15
    LTEXT           "Master", IDC_APU_CHANNELS_MASTER_STATIC, 13, 31, 43, 8, SS_LEFT
    AUTOCHECKBOX    "Triangle", IDC_APU_CHANNELS_TRIANGLE_CHECKBOX, 13, 82, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "Noise", IDC_APU_CHANNELS_NOISE_CHECKBOX, 13, 99, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "DMC", IDC_APU_CHANNELS_DMC_CHECKBOX, 13, 116, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "Extra", IDC_APU_CHANNELS_EXTRA_CHECKBOX, 13, 133, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_SQUARE1_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 44, 98, 15
    AUTOCHECKBOX    "Square2", IDC_APU_CHANNELS_SQUARE2_CHECKBOX, 13, 65, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_SQUARE2_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 61, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_TRIANGLE_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 78, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_NOISE_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 95, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_DMC_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 112, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_EXTRA_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 67, 129, 98, 15
    PUSHBUTTON      "Active all", IDC_APU_CHANNELS_ACTIVE_ALL_BUTTON, 10, 152, 50, 14
    PUSHBUTTON      "Disable all", IDC_APU_CHANNELS_DISABLE_ALL_BUTTON, 62, 152, 50, 14
    PUSHBUTTON      "Defaults", IDC_APU_CHANNELS_DEFAULTS_BUTTON, 114, 152, 50, 14
}
*/
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_APU_CHANNELS DIALOG 0, 0, 170, 191
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
CAPTION "APU Configurations"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", ID_APU_CHANNELS_OK, 62, 173, 50, 14
    PUSHBUTTON      "Cancel", ID_APU_CHANNELS_CANCEL, 114, 173, 50, 14
    GROUPBOX        "APU Channels", IDC_STATIC, 5, 4, 159, 164
    LTEXT           "Active", IDC_STATIC, 39, 15, 21, 8, SS_LEFT
    LTEXT           "Volume", IDC_STATIC, 103, 15, 24, 8, SS_LEFT
    AUTOCHECKBOX    "Square1", IDC_APU_CHANNELS_SQUARE1_CHECKBOX, 11, 45, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_MASTER_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 24, 98, 15
    LTEXT           "Master", IDC_APU_CHANNELS_MASTER_STATIC, 11, 28, 43, 8, SS_LEFT
    AUTOCHECKBOX    "Triangle", IDC_APU_CHANNELS_TRIANGLE_CHECKBOX, 11, 79, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "Noise", IDC_APU_CHANNELS_NOISE_CHECKBOX, 11, 96, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "DMC", IDC_APU_CHANNELS_DMC_CHECKBOX, 11, 113, 43, 8, BS_LEFTTEXT
    AUTOCHECKBOX    "Extra", IDC_APU_CHANNELS_EXTRA_CHECKBOX, 11, 130, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_SQUARE1_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 41, 98, 15
    AUTOCHECKBOX    "Square2", IDC_APU_CHANNELS_SQUARE2_CHECKBOX, 11, 62, 43, 8, BS_LEFTTEXT
    CONTROL         "", IDC_APU_CHANNELS_SQUARE2_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 58, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_TRIANGLE_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 75, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_NOISE_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 92, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_DMC_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 109, 98, 15
    CONTROL         "", IDC_APU_CHANNELS_EXTRA_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS, 65, 126, 98, 15
    PUSHBUTTON      "Active all", IDC_APU_CHANNELS_ACTIVE_ALL_BUTTON, 8, 149, 50, 14
    PUSHBUTTON      "Disable all", IDC_APU_CHANNELS_DISABLE_ALL_BUTTON, 60, 149, 50, 14
    PUSHBUTTON      "Defaults", IDC_APU_CHANNELS_DEFAULTS_BUTTON, 112, 149, 50, 14
}

//
// Input configuration dialog
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_INPUT_DIALOG DIALOG 0, 0, 216, 160
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "PuNES input configuration"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", IDOK, 110, 140, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 162, 140, 50, 14
    COMBOBOX        IDC_INPUT_CONTROLLER1_COMBO, 71, 13, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    PUSHBUTTON      "Setup", IDC_INPUT_CONTROLLER1_SETUP_BUTTON, 183, 13, 24, 14
    COMBOBOX        IDC_INPUT_CONTROLLER2_COMBO, 71, 31, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    PUSHBUTTON      "Setup", IDC_INPUT_CONTROLLER2_SETUP_BUTTON, 183, 31, 24, 14
    COMBOBOX        IDC_INPUT_CONTROLLER3_COMBO, 71, 49, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    PUSHBUTTON      "Setup", IDC_INPUT_CONTROLLER3_SETUP_BUTTON, 183, 49, 24, 14
    COMBOBOX        IDC_INPUT_CONTROLLER4_COMBO, 71, 67, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    PUSHBUTTON      "Setup", IDC_INPUT_CONTROLLER4_SETUP_BUTTON, 183, 67, 24, 14
    COMBOBOX        IDC_INPUT_CONTROLLER_MODE_COMBO, 71, 85, 110, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    AUTOCHECKBOX    "Permit ""Up + Down"" and ""Left + Right"" at the same time", IDC_PERMIT_UPDOWN_LEFTRIGHT_CHECKBOX, 10, 120, 193, 8
    PUSHBUTTON      "Default", ID_INPUT_DEFAULT, 57, 140, 50, 14
    GROUPBOX        "Controllers", IDC_STATIC, 4, 2, 208, 101
    LTEXT           "Controller Port 1", IDC_STATIC, 10, 16, 51, 8, SS_LEFT
    LTEXT           "Controller Port 2", IDC_STATIC, 10, 34, 51, 8, SS_LEFT
    GROUPBOX        "Misc", IDC_STATIC, 4, 109, 208, 26
    LTEXT           "Controller Port 3", IDC_INPUT_CONTROLLER3_LABEL_STATIC, 10, 52, 51, 8, SS_LEFT
    LTEXT           "Controller Port 4", IDC_INPUT_CONTROLLER4_LABEL_STATIC, 10, 70, 51, 8, SS_LEFT
    LTEXT           "Controller mode", IDC_INPUT_CONTROLLER_MODE_LABEL_STATIC, 10, 88, 50, 8, SS_LEFT
}

//
// Standard controller tab page
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_KBD_JOY_TAB_PAGE DIALOG 1, 13, 233, 151
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CHILDWINDOW
FONT 8, "Ms Shell Dlg"
{
    COMBOBOX        IDC_DEVICE_COMBO, 33, 11, 196, 30, WS_TABSTOP | CBS_DROPDOWNLIST | CBS_HASSTRINGS
    PUSHBUTTON      "Button1", IDC_UP_BUTTON, 35, 29, 50, 14
    PUSHBUTTON      "unset", IDC_UP_UNSET_BUTTON, 87, 29, 22, 14
    PUSHBUTTON      "Button1", IDC_DOWN_BUTTON, 35, 45, 50, 14
    PUSHBUTTON      "unset", IDC_DOWN_UNSET_BUTTON, 87, 45, 22, 14
    PUSHBUTTON      "Button1", IDC_LEFT_BUTTON, 35, 61, 50, 14
    PUSHBUTTON      "unset", IDC_LEFT_UNSET_BUTTON, 87, 61, 22, 14
    PUSHBUTTON      "Button1", IDC_RIGHT_BUTTON, 35, 77, 50, 14
    PUSHBUTTON      "unset", IDC_RIGHT_USET_BUTTON, 87, 77, 22, 14
    PUSHBUTTON      "Button1", IDC_SELECT_BUTTON, 35, 94, 50, 14
    PUSHBUTTON      "unset", IDC_SELECT_UNSET_BUTTON, 87, 94, 22, 14
    PUSHBUTTON      "Button1", IDC_START_BUTTON, 155, 29, 50, 14
    PUSHBUTTON      "unset", IDC_START_UNSET_BUTTON, 207, 29, 22, 14
    PUSHBUTTON      "Button1", IDC_A_BUTTON, 155, 45, 50, 14
    PUSHBUTTON      "unset", IDC_A_UNSET_BUTTON, 207, 45, 22, 14
    PUSHBUTTON      "Button1", IDC_B_BUTTON, 155, 61, 50, 14
    PUSHBUTTON      "unset", IDC_B_UNSET_BUTTON, 207, 61, 22, 14
    PUSHBUTTON      "Button1", IDC_TA_BUTTON, 155, 77, 50, 14
    PUSHBUTTON      "unset", IDC_TA_UNSET_BUTTON, 207, 77, 22, 14
    PUSHBUTTON      "Button1", IDC_TB_BUTTON, 155, 94, 50, 14
    PUSHBUTTON      "unset", IDC_TB_UNSET_BUTTON, 207, 94, 22, 14
    PUSHBUTTON      "In sequence", IDC_IN_SEQUENCE_BUTTON, 4, 132, 72, 14
    PUSHBUTTON      "Unset all", IDC_UNSET_ALL_BUTTON, 80, 132, 73, 14
    PUSHBUTTON      "Defaults", IDC_DEFAULT_BUTTON, 157, 132, 72, 14
    CONTROL         "Rich Edit", IDC_INFO_RICHEDIT, RICHEDIT_CLASS, WS_BORDER | NOT WS_TABSTOP | ES_READONLY, 4, 113, 225, 14
    LTEXT           "Device", IDC_DEVICE_LABEL_STATIC, 4, 12, 24, 8, SS_LEFT
    LTEXT           "Up", IDC_UP_LABEL_STATIC, 4, 32, 26, 8, SS_LEFT
    LTEXT           "Down", IDC_DOWN_LABEL_STATIC, 4, 48, 26, 8, SS_LEFT
    LTEXT           "Left", IDC_LEFT_LABEL_STATIC, 4, 64, 26, 8, SS_LEFT
    LTEXT           "Right", IDC_RIGHT_LABEL_STATIC, 4, 80, 26, 8, SS_LEFT
    LTEXT           "Select", IDC_SELECT_LABEL_STATIC, 4, 97, 26, 8, SS_LEFT
    LTEXT           "Turbo B", IDC_TB_LABEL_STATIC, 124, 97, 26, 8, SS_LEFT
    LTEXT           "Turbo A", IDC_TA_LABEL_STATIC, 124, 80, 26, 8, SS_LEFT
    LTEXT           "B", IDC_B_LABEL_STATIC, 124, 64, 26, 8, SS_LEFT
    LTEXT           "A", IDC_A_LABEL_STATIC, 124, 48, 26, 8, SS_LEFT
    LTEXT           "Start", IDC_START_LABEL_STATIC, 124, 32, 26, 8, SS_LEFT
}

//
// Standard controller dialog
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_STANDARD_PAD_DIALOG DIALOG 0, 0, 257, 354
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Standard Pad setup"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", IDOK, 147, 334, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 202, 334, 50, 14
    CONTROL         "", IDC_STANDARD_PAD_TAB, WC_TABCONTROL, 0, 10, 112, 237, 166
    GROUPBOX        "Standard Pad - Contreller XXX", IDC_STANDARD_PAD_CONTROL_BOX, 4, 5, 248, 278
    CONTROL         IDB_NES_STD_PAD, IDC_STANDARD_PAD_IMAGE, WC_STATIC, SS_BITMAP, 10, 17, 236, 90
    GROUPBOX        "Turbo Delay", IDC_TURBO_DELAY_CONTROL_BOX, 4, 288, 120, 60
    LTEXT           "A", IDC_TURBO_DELAY_A_LABEL_STATIC, 10, 303, 8, 8, SS_LEFT
    LTEXT           "B", IDC_TURBO_DELAY_B_LABEL_STATIC, 10, 328, 8, 8, SS_LEFT
    CONTROL         "", IDC_TURBO_DELAY_A_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_TOP | TBS_TOOLTIPS, 18, 298, 105, 18
    CONTROL         "", IDC_TURBO_DELAY_B_SLIDER, TRACKBAR_CLASS, WS_TABSTOP | TBS_TOP | TBS_TOOLTIPS, 18, 321, 105, 18
}

//
// Uncompress selection dialog
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_UNCOMPRESS_SELECTION DIALOG 0, 0, 217, 102
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "puNES selection rom"
FONT 8, "Ms Shell Dlg"
{
    DEFPUSHBUTTON   "OK", IDOK, 110, 84, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 162, 84, 50, 14
    CONTROL         "", IDC_UNCOMPRESS_SELECTION_LIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 5, 4, 207, 75
}

//
// Overscan borders dialog
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_OSCAN_BRDS_DIALOG DIALOG 0, 0, 202, 151
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Ms Shell Dlg"
{
    COMBOBOX        IDC_OSCAN_BRDS_COMBO, 12, 14, 77, 30, CBS_DROPDOWN | CBS_HASSTRINGS, WS_EX_LEFT
    PUSHBUTTON      "Preview", ID_OSCAN_BRDS_PREVIEW, 91, 14, 48, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Defaults", ID_OSCAN_BRDS_DEFAULTS, 141, 14, 50, 14, 0, WS_EX_LEFT
    EDITTEXT        IDC_OSCAN_BRDS_TEXT_UP, 77, 49, 50, 14, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    CONTROL         "", IDC_OSCAN_BRDS_SPIN_UP, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 115, 49, 11, 14, WS_EX_LEFT
    EDITTEXT        IDC_OSCAN_BRDS_TEXT_LEFT, 22, 74, 50, 14, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    CONTROL         "", IDC_OSCAN_BRDS_SPIN_LEFT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 60, 74, 11, 14, WS_EX_LEFT
    EDITTEXT        IDC_OSCAN_BRDS_TEXT_RIGHT, 132, 74, 50, 14, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    CONTROL         "", IDC_OSCAN_BRDS_SPIN_RIGHT, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 170, 74, 11, 14, WS_EX_LEFT
    EDITTEXT        IDC_OSCAN_BRDS_TEXT_DOWN, 77, 99, 50, 14, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    CONTROL         "", IDC_OSCAN_BRDS_SPIN_DOWN, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_SETBUDDYINT, 115, 99, 11, 14, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 94, 134, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 146, 134, 50, 14, 0, WS_EX_LEFT
    LTEXT           "Left", 0, 39, 64, 13, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Right", 0, 147, 64, 18, 8, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "", 0, 11, 29, 180, 95, 0, WS_EX_LEFT
    LTEXT           "Up", 0, 96, 39, 10, 8, SS_LEFT, WS_EX_LEFT
    LTEXT           "Down", 0, 91, 89, 20, 8, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "Overscan borders", 0, 6, 4, 190, 125, 0, WS_EX_LEFT
}

VS_VERSION_INFO VERSIONINFO
FILEFLAGSMASK VS_FF_PRERELEASE // Which bits are to be taken
FILEFLAGS VS_FF_PRERELEASE // This is a pre-release version
FILEOS VOS__WINDOWS32 // Built for Windows 32 bit OS
FILETYPE VFT_APP // Type of this is Application
FILESUBTYPE 0x0L // 0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", AUTHOR
			VALUE "FileDescription", COMMENT
			VALUE "FileVersion", VER1 ", " VER1 ", " VER1 ", " VER2
			VALUE "InternalName", NAME
			VALUE "LegalCopyright", COPYRIGTH
			VALUE "LegalTrademarks", AUTHOR
			VALUE "OriginalFilename", NAME ".exe"
			VALUE "ProductName", NAME
			VALUE "ProductVersion", VER1 ", " VER1 ", " VER1 ", " VER2
		END
	END
END
