#include <winuser.h>
#include <afxres.h>
#include "../../core/version.h"

//CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Application.manifest"

IDI_MYICON ICON   "punes.ico"

VS_VERSION_INFO VERSIONINFO
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", AUTHOR
			VALUE "FileDescription", COMMENT
			VALUE "FileVersion", VER1 ", " VER1 ", " VER1 ", " VER2
			VALUE "InternalName", NAME
			VALUE "LegalCopyright", COPYRIGTH
			VALUE "LegalTrademarks", AUTHOR
			VALUE "OriginalFilename", NAME ".exe"
			VALUE "ProductName", NAME
			VALUE "ProductVersion", VER1 ", " VER1 ", " VER1 ", " VER2
		END
	END
END
